.transaction-record {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background: $color-primary;
	border-radius: 8px;
	margin: 4px;

	&__cat-info {
		span {
			display: block;
		}
	}

	&__datetime {
		display: block;
	}
}
