@font-face {
	font-family: 'Vazir';
	src: url('/src/assets/fonts/Vazir-FD-WOL.woff2') format('woff2');
}

@font-face {
	font-family: 'Vazir Thin';
	src: url('/src/assets/fonts/Vazir-Thin-FD-WOL.woff2') format('woff2');
}

@font-face {
	font-family: 'Vazir Light';
	src: url('/src/assets/fonts/Vazir-Light-FD-WOL.woff2') format('woff2');
}

@font-face {
	font-family: 'Vazir Medium';
	src: url('/src/assets/fonts/Vazir-Medium-FD-WOL.woff2') format('woff2');
}

@font-face {
	font-family: 'Vazir Bold';
	src: url('/src/assets/fonts/Vazir-Bold-FD-WOL.woff2') format('woff2');
}
